.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .input-wrapper label {
    font-weight: bold;
  }
  
  .input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }

.edit-name{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.edit-name h1 {
    color: black;
}

#UserName{
    border: 1px solid black;
}

.form-edit-name {
    background-color: white;
    padding: 20px;
    color: black;
    border: 2px solid #00bc77;
    border-radius: 30px;
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}